<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="se.gladpingvin.develop.demohealthgateway">

    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="se.gladpingvin.develop.demohealthgateway.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="se.gladpingvin.develop.demohealthgateway.PulseOximeterActivity"
            android:label="@string/title_activity_pulse_oximeter"
            android:theme="@style/AppTheme.NoActionBar" />

        <service
            android:name="se.gladpingvin.develop.demohealthgateway.BluetoothCommunicationService"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name="se.gladpingvin.develop.demohealthgateway.HealthService"
            android:enabled="true"
            android:exported="true" />

        <activity android:name="se.gladpingvin.develop.demohealthgateway.PulseOximetryListActivity" />

        <activity
            android:name="se.gladpingvin.develop.demohealthgateway.SettingsActivity"
            android:label="@string/title_activity_settings" />

        <activity android:name="se.gladpingvin.develop.demohealthgateway.SeedDatabaseActivity" />

        <activity
            android:name="se.gladpingvin.develop.demohealthgateway.LicenseActivity"
            android:label="@string/title_activity_license" />

        <activity
            android:name="se.gladpingvin.develop.demohealthgateway.LgplActivity"
            android:label="@string/title_activity_license" />

        <activity
            android:name="se.gladpingvin.develop.demohealthgateway.GplActivity"
            android:label="@string/title_activity_license" />
    </application>

</manifest>
